body, html{
    height: 100%;
    margin: 0;
    background: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


.block1, .block2,.block3,.block4{
    position: relative;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.block1{
    background-image: url(../img/bg1.jpg);
    min-height: 100%;
}


.we{
    background-color: white;
    color: #f1ad1d;
    display: inline-block;
    font-weight: 600;
    font-size:54px;
    margin-right: 30px;
    padding: 35px 35px;
}


.block2{
    background-image: url(../img/bg2.jpg);
    min-height: 400px;
}


.block3{
    background-image: url(../img/bg3.jpg);
    min-height: 400px;
}


.block4{
    background-image: url(../img/bg4.jpg);
    min-height: 500px;
}

.block2,.block3,.block4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.block2 .ptext .border{
    display: block;
}


.section{
    text-align: center;
    padding: 50px 80px;
}


.ptext{
    font-size: 27px;
    text-transform: uppercase;
    color: white;
    letter-spacing: normal;
}


.ptext .border{
    background-color: transparent;
    padding: 20px;
}


.ptext .border.whiteborder{
    border:  1px solid white;
    display: block;
    background-color: rgba(0,0,0,.4);
    padding-right: 50px;
}


.block1 .ptext{
    position: absolute;
    width: auto;
    text-align: left;
    color: white;
    left: 5%;
    bottom: 10%;
}


.block1 .ptext a{
    display: block;
    margin-bottom: 30px;
    color: white;
    letter-spacing: normal;
    text-transform:none;
    font-size:17px;
}


.block1 .ptext h2{
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 48px;
    margin: 0;
}


.block1 .ptext .border.whiteborder{
    color: white;
    font-weight: 700;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 1px white;
    padding: 0;
    padding-right: 30px;
}


.section.whitesection h2{
    text-transform: uppercase;
    color: #000;
}


.orangeline{
    width: 60px;
    margin-top: 50px;
    border: 2px solid #f1ad1d;
}


.orange{
    color: #f1ad1d;
}


.border-a .orange{
    color: #f1ad1d;
}


.border-a{
    text-transform: none;
    text-decoration: none;
    font-size: 18px;
}


.greyline{
    width: 300px;
    margin-top: 50px;
    border: 1px solid silver;
}

